.cart {
  max-width: 30rem;
  text-align: center;
  margin: 1rem auto;
  border-radius: 6px;
  background-color: #e5eaea;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  width: 90%;
}

.cart h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.cart ul {
  list-style: none;
  padding: 0;
  margin: 0;
}