.item {
    margin: 1rem auto;
    border-radius: 6px;
    background-color: #e5eaea;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    width: 90%;
    max-width: 50rem;
  }
  
  .item h3 {
    margin: 1rem 0;
    font-size: 1.3rem;
  }
  
  .item header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .price {
    padding: 0.2rem 1.5rem;
    font-size: 1.5rem;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .actions button {
    margin-top: 1rem;
  }
  