.Expense{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(30, 30, 30);
  padding: 0.5rem;
  color: white;
  font-family: monospace;

  &:not(:first-child){
    margin-top: 1rem;
  }

  & .Expense__date{
    background-color: rgb(65, 65, 65);
    padding: 0.4rem;
    font-size: 1.2rem;
    text-align: center;
    min-width: 11ch;
  }

  & .Expense__description{
    font-size: 1.5rem;
  }

  & .Expense__price{
    background-color: rgb(65, 65, 65);
    padding: 0.4rem;
    font-size: 1.2rem;
    text-align: center;
    min-width: 11ch;
  }
}
